body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

#root {
  min-height: 100vh;
}

button {
  border: none;
  background: transparent;
  pointer-events: all;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
